//- Все примеси в этом файле должны начинаться c имени блока (field-text)

mixin field-text(props)

  //- Принимает:
  //-   props {
  //-     title: ''       {string} - текст с названием (выводится над полем)
  //-     type: ''        {string} - тип для input [text|email|number...]
  //-     placeholder: '' {string} - подсказка в поле
  //-     name: ''        {string} - атрибут name у input/textarea
  //-     inputAttrs: {}  {object} - дополнительные атрибуты для input/textarea
  //-     mods: ''        {string} - модификаторы блока
  //-     textarea: false {bool}   - флаг input/textarea
  //-     helpText: ''    {string} - пояснение под полем
  //-   }
  //- Вызов:
  //-   +field-text({
  //-     title: 'Текст',
  //-     type: 'text',
  //-     placeholder: '',
  //-     name: '',
  //-     inputAttrs: {'id': 'some-input-id', 'max': '200', 'min': '2'},
  //-     mods: '',
  //-     textarea: false,
  //-     helpText: '',
  //-   })

  -
    if(typeof(props) === 'undefined') {
      var props = {};
    }
    var allMods = '';
    if(typeof(props.mods) !== 'undefined' && props.mods) {
      var modsList = props.mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' field-text--' + modsList[i].trim();
      }
    }

  label.field-text(class=allMods)&attributes(attributes)
    if(typeof(props.title) !== 'undefined' && props.title)
      span.field-text__name!= props.title
    span.field-text__input-wrap
      if(typeof(props.textarea) !== 'undefined' && props.textarea)
        textarea.field-text__input(
          placeholder=props.placeholder ? props.placeholder : ''
          name=props.name ? props.name : ''
        )&attributes(props.inputAttrs)
      else
        input.field-text__input(
          type=props.type ? props.type : 'text'
          placeholder=props.placeholder ? props.placeholder : ''
          name=props.name ? props.name : ''
        )&attributes(props.inputAttrs)
      if(typeof(props.helpText) !== 'undefined' && props.helpText)
        span.field-text__help-text!= props.helpText
      block
